<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957531115208-nrn092a962a9u857jpmqhnu37uv8trma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957531115208-nrn092a962a9u857jpmqhnu37uv8trma</string>
	<key>API_KEY</key>
	<string>AIzaSyApOz_8nLQebLF-V1MGZFhfJsMbfzSRyYE</string>
	<key>GCM_SENDER_ID</key>
	<string>957531115208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Fourteen66.Tagg</string>
	<key>PROJECT_ID</key>
	<string>tagg-120c9</string>
	<key>STORAGE_BUCKET</key>
	<string>tagg-120c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957531115208:ios:a10baa17313152700f1ffd</string>
	<key>DATABASE_URL</key>
	<string>https://tagg-120c9.firebaseio.com</string>
</dict>
</plist>